@page "/"

<PageTitle>Home</PageTitle>

<div style="display:flex; flex-direction:column; justify-content:center; align-items: center; text-align: center; height:50vh;">
    <img src="RESLOGO01_jpeg.jpg" alt="Resolute Logo" style="margin-bottom:30px" />
    <h1 class="fw-bold">LABORATORY KIOSK</h1>
</div>
